version: "3.7"

services:
  db:
    image: mysql:8
    environment:
      - MYSQL_PORT=3306
      - MYSQL_ROOT_PASSWORD=********
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --default-authentication-plugin=mysql_native_password --local-infile 
    restart: always
    ports:
      - 3306:3306
    volumes:
      - data-volume:/var/lib/mysql
      - ./initdb:/docker-entrypoint-initdb.d
      - ./.my.cnf:/root/.my.cnf
  adminer:
    image: adminer
    restart: always
    ports:
      - 8095:8080
    depends_on:
      - db
  
  app:
    build: .
    depends_on: 
      - db
volumes:
  data-volume:
